@import '../styles/grid.css';

:root {
  --color: rgb(18, 241, 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white
}

.container {
  min-height: 90vh;
  border: solid 1px rgb(93, 92, 92);
  border-radius: 0 15px 0 15px;
  box-shadow: 1px 1px 0px 1px rgba(255, 255, 255, 0.6);
  margin: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  color: white;
  flex-direction: column;
}

.nombre h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 100;
}

.nombre span {
  color: var(--color)
}

.menu {
  margin: 4rem 0 0 0;
  font-size: 1.2rem;
}

.footer {
  margin-left: 3rem;
  margin-top: -1.7rem;
  text-align: center;
}

li {
  list-style: none;
  padding: 0.2rem 0;
  transition: 0.3s ease-out;
  border-left: solid 1px rgb(95, 95, 95);

}

li:hover {
  border-left: solid 1px var(--color);
  padding-left: 10px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white
}

.panel {
  padding: 1rem;

}